In [1]:
import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

for emp in employees:
    
    print("Employee_ID:",emp[0],"Name:",emp[1],"Dept:",emp[2],"Salary:",emp[3],"YOE:",emp[4],"P.Rating:",emp[5])

Employee_ID: E001 Name: Alice Dept: HR Salary: 50000 YOE: 5 P.Rating: 4.2
Employee_ID: E002 Name: Bob Dept: Finance Salary: 60000 YOE: 6 P.Rating: 4.0
Employee_ID: E003 Name: Charlie Dept: IT Salary: 70000 YOE: 8 P.Rating: 4.5
Employee_ID: E004 Name: David Dept: Marketing Salary: 55000 YOE: 4 P.Rating: 3.9
Employee_ID: E005 Name: Eve Dept: Finance Salary: 65000 YOE: 7 P.Rating: 4.3
Employee_ID: E006 Name: Frank Dept: IT Salary: 75000 YOE: 9 P.Rating: 4.6
Employee_ID: E007 Name: Grace Dept: HR Salary: 48000 YOE: 3 P.Rating: 3.8
Employee_ID: E008 Name: Hank Dept: Marketing Salary: 52000 YOE: 5 P.Rating: 4.1
Employee_ID: E009 Name: Ivy Dept: IT Salary: 72000 YOE: 6 P.Rating: 4.4
Employee_ID: E010 Name: Jack Dept: Finance Salary: 67000 YOE: 7 P.Rating: 4.2

In [1]:
#Extract the salaries of all employees and convert them to float
import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])


emp=employees[:,3].astype(float)
print("Converted:",emp)

Converted: [50000. 60000. 70000. 55000. 65000. 75000. 48000. 52000. 72000. 67000.]

In [20]:
import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

emp=employees[:,0]
print("Employee_ID:",emp)

Employee_ID: ['E001' 'E002' 'E003' 'E004' 'E005' 'E006' 'E007' 'E008' 'E009' 'E010']

In [27]:
import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

print("Students_Mark_List")

for student in students:

    print("Name:",student[0])
    
    print("Tamil:",student[1],)
    
    print("English:",student[2],)
    
    print("Maths:",student[3],)
    
    print("Science:",student[4],)
    
    print("Social_science:",student[5],'\n')

Students_Mark_List
Name: Johnson
Tamil: 80
English: 75
Maths: 79
Science: 82
Social_science: 95

Name: Jayaseelan
Tamil: 82
English: 80
Maths: 79
Science: 92
Social_science: 90

Name: Kutty
Tamil: 85
English: 60
Maths: 64
Science: 87
Social_science: 85

Name: Raj
Tamil: 90
English: 70
Maths: 79
Science: 84
Social_science: 89

Name: Vijay
Tamil: 78
English: 76
Maths: 69
Science: 79
Social_science: 90

Name: Jaipa
Tamil: 88
English: 90
Maths: 87
Science: 86
Social_science: 91

Name: Ruban
Tamil: 80
English: 71
Maths: 81
Science: 73
Social_science: 89

Name: Ebi
Tamil: 75
English: 73
Maths: 68
Science: 76
Social_science: 91

Name: Joel
Tamil: 67
English: 76
Maths: 72
Science: 86
Social_science: 74

Name: Dhiva
Tamil: 80
English: 75
Maths: 67
Science: 78
Social_science: 81

In [2]:
import numpy as np

# Dataset:  Name,Tamil,English,Maths,Science,Social_science
students = np.array([
    ['Johnson', '80', '75', '79', '82', '95'],
    ['Jayaseelan', '82', '80', '79', '92', '90'],
    ['Kutty', '85', '60', '64', '87', '85'],
    ['Raj', '90', '70', '79', '84', '89'],
    ['Vijay', '78', '76', '69', '79', '90'],
    ['Jaipa', '88', '90', '87', '86', '91'],
    ['Ruban', '80', '71', '81', '73', '89'],
    ['Ebi', '75', '73', '68', '76', '91'],
    ['Joel', '67', '76', '72', '86', '74'],
    ['Dhiva', '80', '75', '67', '78', '81']
])

names = students[:, 0]  
marks = students[:, 1:].astype(int) 

totals = marks.sum(axis=1)

Avg=marks.mean(axis=1)
print("Name:",names[0],"Total_Marks:",totals[0],"Average:",Avg[0],'\n',"Name:",names[1],"Total_Marks:",totals[1],"Average:",Avg[1],'\n',
      "Name:",names[2],"Total_Marks:",totals[2],"Average:",Avg[2],'\n',"Name:",names[3],"Total_Marks:",totals[3],"Average:",Avg[3],'\n',
      "Name:",names[4],"Total_Marks:",totals[4],"Average:",Avg[4],'\n',"Name:",names[5],"Total_Marks:",totals[5],"Average:",Avg[5],'\n',
      "Name:",names[6],"Total_Marks:",totals[6],"Average:",Avg[6],'\n',"Name:",names[7],"Total_Marks:",totals[7],"Average:",Avg[7],'\n',
      "Name:",names[8],"Total_Marks:",totals[8],"Average:",Avg[8],'\n',"Name:",names[9],"Total_Marks:",totals[9],"Average:",Avg[9])

Name: Johnson Total_Marks: 411 Average: 82.2
 Name: Jayaseelan Total_Marks: 423 Average: 84.6
 Name: Kutty Total_Marks: 381 Average: 76.2
 Name: Raj Total_Marks: 412 Average: 82.4
 Name: Vijay Total_Marks: 392 Average: 78.4
 Name: Jaipa Total_Marks: 442 Average: 88.4
 Name: Ruban Total_Marks: 394 Average: 78.8
 Name: Ebi Total_Marks: 383 Average: 76.6
 Name: Joel Total_Marks: 375 Average: 75.0
 Name: Dhiva Total_Marks: 381 Average: 76.2

In [6]:
#Average of salary
import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

salaries=employees[:,3].astype(float)
print("Avg_salary:",'\n',np.mean(salaries))

Avg_salary:
 61400.0

In [10]:
#Highest salary

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Highest_salary=employees[:,3].astype(int)
print("Highest_salary:",'\n',np.max(Highest_salary))

Highest_salary:
 75000

In [12]:
#Calculate Total year of experience

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Total_YOE=employees[:,4].astype(int)
print("Total_year of experience:",np.sum(Total_YOE))

Total_year of experience: 60

In [19]:
#Find Lowest performance Rating

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

LPR=employees[:,5].astype(float)
print("Lowest_performance_Rating:",np.argmin(LPR))

Lowest_performance_Rating: 6

In [21]:
#Calculate average performance Rating

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Avg_Rating=employees[:,5].astype(float)
print("Avg_Rating;",np.mean(Avg_Rating))

Avg_Rating; 4.2

In [25]:
#Count the number of employees with a salary above $60,000

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Salary=employees[:,3].astype(int)
print("Above_salaries;",np.sum(Salary>60000))

Above_salaries; 5

In [46]:
#Extract the names of employees in the 'IT' department

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

print(employees[employees[:,2]=='IT',1])

['Charlie' 'Frank' 'Ivy']

In [ ]:
#Find the median years of experience among the employees (Median-சராசரி)

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Mad=employees[:,4].astype(int)
print("Median_YOE:",np.median(Mad))

Median_YOE: 6.0

In [2]:
#Sort the employees by their years of experience in descending order

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Decend=employees[:,4].astype(float)
print("Decending_order:",employees[np.argsort(-Decend),4])

Decending_order: ['9' '8' '7' '7' '6' '6' '5' '5' '4' '3']

In [5]:
#Find the total number of employees in the 'Finance' department

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Finance=employees[employees[:,2]=='Finance',1]
print("Finance_Dept:",Finance)

Finance_Dept: ['Bob' 'Eve' 'Jack']

In [6]:
#Calculate the variance in the performance ratings of the employees

import numpy as np

# Dataset: Employee ID, Name, Department, Salary, Years of Experience, Performance Rating
employees = np.array([
    ['E001', 'Alice', 'HR', '50000', '5', '4.2'],
    ['E002', 'Bob', 'Finance', '60000', '6', '4.0'],
    ['E003', 'Charlie', 'IT', '70000', '8', '4.5'],
    ['E004', 'David', 'Marketing', '55000', '4', '3.9'],
    ['E005', 'Eve', 'Finance', '65000', '7', '4.3'],
    ['E006', 'Frank', 'IT', '75000', '9', '4.6'],
    ['E007', 'Grace', 'HR', '48000', '3', '3.8'],
    ['E008', 'Hank', 'Marketing', '52000', '5', '4.1'],
    ['E009', 'Ivy', 'IT', '72000', '6', '4.4'],
    ['E010', 'Jack', 'Finance', '67000', '7', '4.2']
])

Variance=employees[:,5].astype(float)
print("Variance_P.Rating:",np.var(Variance))

Variance_P.Rating: 0.06